*
{
    box-sizing: border-box;
}
body
{
   font-family: 'Poppins', sans-serif;
}
.content
{
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row
{
    display: flex;
align-items: center;
}
a
{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #5F5B53;
}
/*Header*/ 
header
{
   padding-top: 36px;
   background-color: #FFFCF4;
   position: sticky;
   top:0;
   z-index: 1;
   padding-bottom: 11px;
}
header .row
{
    justify-content: space-between;
}
header .menu .Home
{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #171100;
    position: relative;
}
header .menu .Home::before
{
    content: " ";
    background-color: #171100;
    width: 8px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left:  1px;
    border-radius: 12px;
}
header .menu .btn
{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 41px;
    background: #171100;
    border-radius: 24.5px;
    width: 144px;
}
header .menu .sub-menu
{
    margin-right: 42px;
}
header .menu .btn
{
    margin-left: 30px;
}
       /*=================Hero===============*/
.hero
{
    background-color: #FFFCF4;
    padding-top: 65px;
    padding-bottom: 65px;
}
.hero .des2
{
    width: 50%;
    padding-left: 130px;
}
.hero .des1
{
    width: 50%;
    position: relative;
}
.hero .rowmax
{
    display: flex;
    justify-content: space-between;
}
.hero .des2 .title
{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -0.02em;
    color: #171100;
}
.hero .des2 .desc
{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5F5B53;
    margin-bottom: 38px;
}
.hero .des2 .btn
{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFB900;
    padding: 17px 33px;
    border-radius: 32px;
}
.hero .des2 .watch
{
    font-weight: 600;
    font-size: 18px;
    color: #171100;
}
.hero .des2 .row
{
   margin-bottom: 50px;
}
.hero .des2 .row2 img
{
   margin-right: 28px;
}
.hero .des1 .image
{
    width: 470;
    height: 685px;
    object-fit: cover;
    max-width: 100%;
}
.hero .des1 .list .title
{
    font-weight: 600;
    font-size: 18px;
    color: #171100;
}
.hero .des1 .list
{
   width: 270px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 10px 0 24px 24px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    }
.hero .des1 .list .icon
{
    margin-right: 16px;
}
.hero .des1 .list .row
{
    margin-top:14px;

}



  /*=================Popular===============*/



  .popular
  {
    margin-bottom: 200px;
  }
  .popular .infor .row
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .popular .start .title
  {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
  }

  .popular .start .desc
  {
    width: 460px;
    max-width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5F5B53;
  }
  .popular .end .icon
  {
    margin-left: 18px;
  }
  
  .popular .popular-list .item
  {
    width: calc(1110px/3);
    margin-right: 30px;
 
  }
  .popular .popular-list .item .more
  {
    padding: 16px 22px 22px 22px;
  }
  .popular .popular-list .item .row
  {
      justify-content: space-between;
  }
  .popular .popular-list .item h3
  {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
  }
  .popular .popular-list .item .desc
  {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5F5B53;
    margin-bottom: 12px;
    margin: top 6px;
  }
  .popular .popular-list .item .money
  {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
  }
  .popular .popular-list .item .btn
  {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    padding: 12px 24px;
    border-radius: 25px;
  }
  .popular .popular-list .item .star .desc
  {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FEA31B;
  }
  .popular .popular-list .item .stars
  {
    margin-right: 6px;
  }
  .popular .popular-list .item .star .desc
  {
    text-align: center;
  }


    /*=================FeedBacks===============*/
 .feedbacks
 {
    background-color: #2E2100;
 }
 .feedbacks .content
 {
    padding: 96px 0;
 }
 .feedbacks .identity
 {
    width: 160px;
    max-width: 100%;
 }
 .feedbacks .avatar
 {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
 }
 .feedbacks .identity .name
 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #F7F7F7;
    margin-top: 18px;
    margin-bottom: 4px;

 }
 .feedbacks .identity .class
 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #BFBCB3;
    margin-bottom: 28px;
 }
 .feedbacks .row
 {
    justify-content: space-between;
 }
 .comments
 {
    width: 740px;
 }
 .comments .desc
 {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #FFFFFF;
 }

   /*=================Features===============*/

   .Features
   {
    margin:200px 0;
   }
.Features .f1,.Features .f2
{
  width: 50%;
  position: relative;
}
.Features .f2
{
  padding: 58px 0 58px 115px;
}
.Features .f2 .title
{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
  margin-bottom: 16px;
}
.Features .f2 .desc
{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5F5B53;
  margin-bottom: 16px;
}
.Features .f2 .origin
{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5F5B53;
  margin-bottom: 32px;  
}
.Features .f2 .btn
{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background: #FFB900;
  border-radius: 26px;
  padding: 11px 37px;

}
.Features .f1 .image
{
  height: 405px;
  width: 270px;
  object-fit: cover;
}
.Features .f1
{
  height: 438px;
}
.Features .f1 .i1
{
  position: absolute;
  left:0;
  bottom:0;
}
.Features .f1 .i2
{
  position: absolute;
  right:0;
  top:0;
}


   /*=================Blogs===============*/
.blog
{
  background-color:   #FFFCF4;
  padding:96px 0;
}
.blog .titlemax
{
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}
.blog .sub-title
{
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #696262;
  margin:16px auto 55px auto;
}
.blog .item
{
  width: calc(100vw/3);
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.blog .item .infor
{
  padding: 20px 20px 28px 20px;
}
.blog .item .thumb
{
  height: 250px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.blog .item .seperate
{
  height: 1px;
  width: 160px;
  background: #E2DFDA;
  border-radius: 0.5px;
  margin: 12px 0;
}
.blog .item .icon
{
  margin-right: 4px;
}
.blog .item .day
{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5F5B53;
}
.blog .item .title
{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #171100;
  margin-bottom: 20px;
}
.blog .item .btn
{
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  padding: 12px 21px;
  border-radius: 25px;
}
.blog .list
{
  gap:30px;
}
.blog .item .btn:hover
{
  background: #FFB900;
}
.blog .list
{
  margin-bottom: 40px;
}
.blog .dot
{
  text-align: center;
}


   /*=================Footer===============*/


   footer
   {
    background: #2E2100;
    padding:96px 0 28px 0;
   }
   footer .list .row
   {
    gap:130px;
    align-items: center;
   }
   footer .list .item1
   {
    max-width: 300px;
   }
   footer .list .item1 .desc
   {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #BFBCB2;
    margin: 18px 0;
   }
   footer .list .item1 .icon
   {
    margin-right: 18px;
   }
   footer .list .item .title
   {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
   }
   footer .list .item .seperate
   {
    height: 1px;
    width: 130px;
    margin: 14px 0 28px 0;
    background: #59554B;;
   }
   footer .list .item li
   {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #BFBCB2;
   }
   footer strong
   {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
   }
   footer .list
   {
    align-items: center;
   }
   footer .list .Support
   {
    min-width: 140px;
   }
   footer .div
   {
    height: 1px;
    width: 100%;
    background: #59554B;
    margin: 38px 0 28px 0;
   }
   footer .end
   {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #807D74;
   }
